.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
  background-color: #000000;
  color: white;
  height: 25px; // Establecer una altura más baja

  .menu-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .back-button,
  .mode-button,
  .hamburger {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(75, 75, 75);
    }
  }

  .hamburger {
    font-size: 1.2rem;
  }

  .mode-button {
    margin-right: 20px;
  }

  // Menú desplegable del menú hamburguesa
  .hamburger-menu {
    background-color: #000000; // Fondo negro
    position: absolute;
    top: 100%; // Colocar el menú debajo del icono hamburguesa
    left: 0;
    margin-top: 5px; // Espacio entre el icono y el menú desplegable
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
    padding: 10px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Estilos responsivos
  @media (max-width: 768px) {
    padding: 0.4rem;

    .back-button,
    .mode-button {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
    }

    .hamburger-menu {
      width: 150px; // Ajustar tamaño en pantallas pequeñas
    }
  }
}

// Estilo para el modo oscuro en el body
body.dark-mode {
  background-color: rgb(17, 17, 17);
}
