.header {
  display: flex;
  justify-content: space-between; // Mantiene espacio entre los elementos
  align-items: center; // Centra verticalmente todos los elementos
  padding: 0.5rem 0.7rem;
  background-color: #000000;
  color: white;

  &.menu-open {
    margin-bottom: 200px; // Ajusta según la altura del menú
  }

  .menu-container {
    display: flex;
    align-items: center; // Alinear verticalmente al centro
    gap: 0.5rem; // Espacio entre los botones
  }

  .back-button,
  .hamburger,
  .mode-button {
    // Asegúrate de que todos los botones tengan las mismas propiedades
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem; // Mantén un padding consistente
    font-size: 0.9rem; // Tamaño de fuente consistente
    border-radius: 5px; // Bordes redondeados
    cursor: pointer; // Cambia el cursor al pasar el ratón
    transition: background-color 0.3s ease; // Transición suave
    align-items: center; // Alinear verticalmente en el centro

    &:hover {
      background-color: rgb(75, 75, 75); // Efecto hover
    }
  }

  .hamburger {
    font-size: 1.2rem; // Aumenta el tamaño del icono del menú hamburguesa si es necesario
  }

  .mode-button {
    margin-left: auto; // Empuja el botón de modo oscuro hacia la derecha
    align-self: center; // Alinea el botón al centro del eje y
  }

  .hamburger-menu {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; // Hace que el menú se superponga sobre el contenido
    top: 50px; // Ajusta según el espacio del header
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 5px;
    z-index: 1000;
    padding: 10px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Estilos responsivos
  @media (max-width: 768px) {
    padding: 0.4rem;

    .back-button,
    .mode-button {
      // Asegúrate de que estos botones sean consistentes
      padding: 0.4rem 0.8rem; // Mantén el mismo padding
      font-size: 0.8rem; // Tamaño de fuente para móviles
    }
  }
}

// Estilo para el modo oscuro en el body
body.dark-mode {
  background-color: rgb(17, 17, 17);
}