/* styles-Home.scss */

body {
    background-image: url('../components/mi\ imagen\ de\ fondo.jpg');
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text */
    font-family: 'Times New Roman', serif; /* Serif font for a classic look */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  body.dark-mode {
    background-image: none; // Elimina la imagen en modo oscuro
    background-color: rgb(56, 56, 56); // Cambia a fondo negro
}
  
/* styles-Home.scss */
.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #333; /* Dark gray text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #000000;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-weight: bold;
  
    &:hover {
      background-color: #eee;
      border-color: #999;
    }
  }
